<template>
    <div>
        <div class="col-lg-12">
            <h5 class="text-white">
                Generar Boleta
            </h5>
        </div>
        <div class="col-lg-12">
            <div id="accordion">
                <div class="card">
                    <div class="card-header p-0" id="headingOne">
						<h5 class="mb-0">
							<button id="btn-user-card" class="btn btn-block text-left p-3" data-toggle="collapse" data-target="#collapseOne"
								aria-expanded="true" aria-controls="collapseOne">
								Nueva Boleta
								<span class="text-right"><i class="fas fa-arrows-alt-v"></i></span>
							</button>
						</h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Fecha</label>
									<input v-validate="'required|min:10|max:190'"v-model="data1.fecha" @keyup.enter="juntarDatos" type="text" class="form-control" placeholder="Ej: 2020-07-09">
                                </div>	
								<div class="col-lg-3">
									<label>Giro Emisor (1)</label>
									<input v-validate="'required|min:10|max:190'"v-model="data1.giroEmisor" @keyup.enter="juntarDatos" type="text" class="form-control" placeholder="Ej: Giro Emisor">
								</div>
								<div class="col-lg-3">
									<label>Dirección</label>
									<input v-validate="'required|min:10|max:190'"v-model="data1.dirOrigen" @keyup.enter="juntarDatos" type="text" class="form-control" placeholder="Ej: Dirección">
								</div>
								<div class="col-lg-3">
									<label>Rut (Receptor)</label>
									<input v-validate="'required|min:10|max:190'"v-model="data1.rutReceptor" @keyup.enter="juntarDatos" type="text" class="form-control" placeholder="Ej: 66666666-6">	
								</div>
<!--								
								<div class="col-lg-3">						
									<p></p><label>Producto (provisorio)</label>
									<input v-validate="'required|min:10|max:190'"v-model="data1.producto" @keyup.enter="juntarDatos" type="text" class="form-control" placeholder="Producto">
								</div>
								<div class="col-lg-3">						
									<p></p><label>Cantidad (provisorio)</label>
									<input v-validate="'required|min:10|max:190'"v-model="data1.cantidad" @keyup.enter="juntarDatos" type="number" class="form-control" placeholder="Cantidad">
								</div>			
								<div class="col-lg-3">						
									<p></p><label>Precio (provisorio) </label>
									<input v-validate="'required|min:10|max:190'"v-model="data1.precio" @keyup.enter="juntarDatos" type="number" class="form-control" placeholder="$">
								</div>	

								<div class="col-lg-3">	
								</div>	
-->									
<!--/////////////////////////////////////////////////////////////////////////////(Metodo con arreglo, Sin funcionar con PHP)-->								
			
								<div class="col-lg-3">						
									<p></p><label>Producto (+)</label>
									<input v-model="data2.producto" @keyup.enter="crearArreglo" type="text" class="form-control" placeholder="Ej: Producto">
								</div>
								<div class="col-lg-3">						
									<p></p><label>Cantidad (+)</label>
									<input v-model="data2.cantidad" @keyup.enter="crearArreglo" type="number" class="form-control" placeholder="Ej: Cantidad">
								</div>			
								<div class="col-lg-3">						
									<p></p><label>Precio (+)</label>
									<input v-model="data2.precio" @keyup.enter="crearArreglo" type="number" class="form-control" placeholder="Ej: Precio">
								</div>	
								<div class="col-lg-3">	
									<p></p><label><p></p></label>							
                                    <button @click="crearArreglo" type="submit" class="btn btn-success form-control">
										<i class="fas fa-plus-square"></i> Agregar
									</button>
								</div>
                            </div>
                        	<label></label>	
							<section class="data">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Producto</th>
											<th scope="col">Cantidad</th>
											<th scope="col">Precio (1 Unidad)</th>
											<th scope="col">Precio (Total)</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(datos, index) in arrayBoleta">
											<td>{{ datos.producto }}</td>
											<td>{{ datos.cantidad }}</td>
											<td>${{ datos.precio }}</td>
											<td>${{ datos.total }}</td>

											<td>
												<button @click="borrar(index)" class="btn btn-danger">Borrar</button>
											</td>
										</tr>
									</tbody>
								</table>
							</section>
							<div class="row">
								<div class="col-lg-3">
									<label></label>
									<input @click="juntarDatos" type="button" value="Generar Boleta" class="btn btn-success form-control">
								</div>	
								
								<div class="col-lg-3">
									<label></label>
									<input @click="totalPrecioEvento" type="button" value="Precio Total ($)" class="btn btn-success form-control">
								</div>	
								
								
								
								<div class="col-lg-3">
									<label></label>
									<input @click="informacion" type="button" value="Información" class="btn btn-primary form-control">
								</div>	
								<div class="col-lg-3">
									<label></label>
									<input @click="limpiar" type="button" value="Limpiar" class="btn btn-info form-control">
								</div>
								<label></label>
								<div class="col-lg-3">	
									<a v-bind:href="'/portalmecanico/resources/assets/js/components/Boleta/BoletasEmitidas_PHP/'+ resultado"> 
										<p></p><label><p> </p></label>
										{{ resultado }}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</template>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script>

import { loadProgressBar } from 'axios-progress-bar'
import { mapState, mapActions, mapGetters } from 'vuex'

export default 
{
    computed:
	{
        ...mapState(['resultado','data1','data2','arrayBoleta']),
    },
	
    methods:
	{
        ...mapActions(['informacion','juntarDatos','crearArreglo','limpiar','totalPrecioEvento']),

/*Este procedimiento no se pudo realizar en el archivo mutations.js, por ende lo he realizado aquí*/
        borrar(borrar_id) 
		{
			this.arrayBoleta.splice(borrar_id, 1)
		}
    },
}

</script>

<style>

</style>
