<template>

    <div>

        <div class="col-lg-12">
            <h5 class="text-white">
                Administración de Clientes (Mecánico)
            </h5>
        </div>

        <div class="col-lg-12">
            <div id="accordion">
                <div class="card">

                    <div class="card-header p-0" id="headingOne">
                    <h5 class="mb-0">
                        <button id="btn-user-card" class="btn btn-block text-left p-3" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        Nuevo Usuario
                        <span class="text-right"><i class="fas fa-arrows-alt-v"></i></span>
                        </button>
                    </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form action="POST" v-on:submit.prevent="createMechanicClient">
                                <div class="row">

                                    <div class="col-lg-3">
                                        <label for="nombre">Nombre</label>
                                        <input v-validate="'required|min:4|max:190'"
                                                :class="{'input': true, 'is-invalid': errors.has('nombre') }"
                                                type="text"
                                                name="nombre"
                                                class="form-control" v-model="newUser.name">
                                        <p v-show="errors.has('nombre')" class="text-danger">{{ errors.first('nombre') }}</p>

                                        <div v-for="(error, index) in errorsLaravel" class="text-danger" :key="index">
                                            <p>{{ error.name }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <label for="correo">Correo Electrónico</label>
                                        <input v-validate="'required|min:6|max:190'"
                                                :class="{'input': true, 'is-invalid': errors.has('correo') }"
                                                type="email"
                                                name="correo"
                                                class="form-control" v-model="newUser.email">
                                        <p v-show="errors.has('nombre')"
                                            class="text-danger">{{ errors.first('correo') }}</p>

                                        <div v-for="(error, index) in errorsLaravel" class="text-danger" :key="index">
                                            <p>{{ error.correo }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <label for="password">Contraseña</label>
                                        <input v-validate="'required'"
                                                :class="{'input': true, 'is-invalid': errors.has('password') }"
                                                type="password"
                                                name="password"
                                                class="form-control" v-model="newUser.password">
                                        <p v-show="errors.has('password')"
                                            class="text-danger">{{ errors.first('password') }}</p>

                                        <div v-for="(error, index) in errorsLaravel" class="text-danger" :key="index">
                                            <p>{{ error.password }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 mt-2">
                                        <label></label>
                                        <button type="submit" class="btn btn-success form-control">
                                            <i class="fas fa-plus-square"></i> Guardar
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped mt-3 table-sm text-white bg-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>-->
                    <tr v-for="userLocal in users" :key="userLocal.id">
                        <td width="10px">{{ userLocal.id }}</td>
                        <td>{{ userLocal.name }}</td>
                        <td>{{ userLocal.email }}</td>
                        <td width="20px">

                            <a href="#" class="btn btn-warning btn-sm"
                                @click.prevent="editUser({ userLocal } )"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Editar">
                                <i class="far fa-edit"></i>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>

            <nav>
                <ul class="pagination">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" @click.prevent="changePageUser({page: 1})">
                            <span>Primera</span>
                        </a>
                    </li>

                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" @click.prevent="changePageUser({page: pagination.current_page - 1})">
                            <span>Atrás</span>
                        </a>
                    </li>

                    <li class="page-item" v-for="page in pagesNumber"
                        v-bind:class="[ page == isActived ? 'active' : '' ]" :key="page">
                        <a class="page-link" href="#" @click.prevent="changePageUser({page})">
                            {{ page }}
                        </a>
                    </li>

                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="changePageUser({page: pagination.current_page + 1})">
                            <span>Siguiente</span>
                        </a>
                    </li>

                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#"  @click.prevent="changePageUser({page:pagination.last_page})">
                            <span>Última</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <EditUser></EditUser>

    </div>

</template>


<script>

import { loadProgressBar } from 'axios-progress-bar'
import { mapState, mapActions, mapGetters } from 'vuex'
import EditUser from '../UserMechanic/EditUser'


export default {
    components: { EditUser },
    computed:{
        ...mapState(['users', 'newUser', 'pagination', 'offset', 'errorsLaravel']),
        ...mapGetters(['isActived', 'pagesNumber'])
    },
    methods:{
        ...mapActions(['getMechanicClients', 'createMechanicClient', 'editUser', 'changePageUser'])
    },
    created(){
        loadProgressBar()
        this.$store.dispatch('getMechanicClients', { page: 1 })
    }
}

</script>

<style>

</style>
