<template>

    <div class="col-lg-12">

        <h5 class="text-white">
            Nueva Marca
            <a href="#" class="btn btn-success pull-right btn-sm" data-toggle="modal" data-target="#createBrand"
                title="Agregar">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h5>
        <div class="table-responsive">
            <table class="table table-hover table-striped mt-3 table-sm text-white bg-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td></td>
                        <td> 
                            <input type="text" class="form-control form-control-sm"
                                    v-model="searchVehicleBrand.brand" @keyup="getVehicleBrands">
                        </td>
                        <td></td>
                    </tr> -->

                    <tr v-for="vehiclebrandLocal in vehiclebrands" :key="vehiclebrandLocal.id">
                        <td width="10px">{{ vehiclebrandLocal.id }}</td>
                        <td>{{ vehiclebrandLocal.brand }}</td>
                        <td>{{ vehiclebrandLocal.model }}</td>
                        
                        <td width="10px">
                            <a href="#" class="btn btn-warning btn-sm"
                                @click.prevent="editVehicleBrand( { vehiclebrandLocal } )"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Editar">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav>
            <ul class="pagination">
                <li class="page-item" v-if="pagination.current_page > 1">
                    <a class="page-link" href="#" @click.prevent="changePageVehicleBrand({page: 1})">
                        <span>Primera</span>
                    </a>
                </li>

                <li class="page-item" v-if="pagination.current_page > 1">
                    <a class="page-link" href="#" @click.prevent="changePageVehicleBrand({page: pagination.current_page - 1})">
                        <span>Atrás</span>
                    </a>
                </li>

                <li class="page-item" v-for="page in pagesNumber"
                    v-bind:class="[ page == isActived ? 'active' : '' ]" :key="page">
                    <a class="page-link" href="#" @click.prevent="changePageVehicleBrand({page})">
                        {{ page }}
                    </a>
                </li>

                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                    <a class="page-link" href="#" @click.prevent="changePageVehicleBrand({page: pagination.current_page + 1})">
                        <span>Siguiente</span>
                    </a>
                </li>

                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                    <a class="page-link" href="#"  @click.prevent="changePageVehicleBrand({page:pagination.last_page})">
                        <span>Última</span>
                    </a>
                </li>
            </ul>
        </nav>

        <AgregarMarca></AgregarMarca>
        <EditarMarca></EditarMarca>
    </div>

</template>


<script>

import { loadProgressBar } from 'axios-progress-bar'
import AgregarMarca from './AgregarMarca'
import EditarMarca from './EditarMarca'
import SelectBrand from './SelectBrand'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    components: { AgregarMarca,EditarMarca, SelectBrand },
    computed:{
        ...mapState(['vehiclebrands', 'pagination', 'offset', 'searchVehicleBrand']),
        ...mapGetters(['isActived', 'pagesNumber'])
    },
    methods:{
        ...mapActions(['getVehicleBrands', 'editVehicleBrand','changePageVehicleBrand'])
    },
    created(){
        loadProgressBar();
        this.$store.dispatch('getVehicleBrands', { page: 1 })
    }
}

</script>

<style>

</style>
